.chat-main


  .header
    .box1
      .box1__test 
        = @group.name
      .box1__member
        - @group.users.each do |user|
          = user.name

    .box2
      .box2__link 
        = link_to "Edit", edit_group_path(@group)
        
  .message-list
    = render @messages


  .message-form
    .boxes
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit' 
