.chat-main


  .header
    .box1
      .box1__test test
      .box1__member
        .member member:name
    .box2
      .box2__link 
        = link_to "Edit","#"


  .message-list
    .boxes
      .box1
        .box1__message1 name
        .box1__message2 time
      .box2
        .box2__message おはよう!
      .box3
        .messages
          .messages--render
            = render @messages
          .messages__message1 name
          .messages__message2 time
        .message3 message


  .message-form
    .boxes
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit' 
