.side-bar
  .header
    .box
      .box__user-name 
        = current_user.name
      .box__user-menu
        .box__user-menu--link
          = link_to "#", class:"link--edit" do
            = icon('fas','edit')
          = link_to "edit_user_path(current_user)", class:"link--cog" do
            = icon('fas','cog')


  .group-list
    .box
      = link_to group_messages_path(group) do
      .box__message-1 techcamp
      .box__message-2 まだメッセージがありません
        = group.show_last_message



